body {
  margin: 0;
  font-family: sans-serif;
  background-color:var(--color-primary);
  color: #fff;
}
:root{
  --color-body:#fff;
  --color-primary: #f0f2f5;
  --color-secondary:#1a2429;
  --color-accent:#00b373;
  --color-footer:#2c3333;
} 

.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-height: 100vh;
  min-width: 12em;
  width: 20%;
  /* border-right: solid black 1px; */
  background: var(--color-secondary);
  padding: 1em;
  margin-right: 20px;
  /* border-radius: 10px; */
}

.sidebar > button {
  width: 100%;
}

.poems-container {
  max-width: 30em;
  margin: auto;
  background-color:var(--color-body);
  color: black;
  border-radius: 10px;

}

.poems-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.poems-container > div > button {
  min-width: 4em;
}

form.new-poem-form {
  /* border: solid black 1px; */
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.new-poem-form > input,
form.new-poem-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}
form.new-poem-form >select{
  margin-bottom: 10px;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: var(--color-accent);
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 10px;
}
.header{
  display: block;
  text-align: center;
  background:var(--color-secondary);
  margin: 5px;
  padding: 5px;
  margin-bottom: 30px;
  /* border-bottom: 2px solid black; */

}
.title{
  text-decoration: underline;
}
.btn{
  background-color: var(--color-accent);
  margin-bottom:10px;
  border: none;
  border-radius: 5px;
}
.new-poem-form{
  background-color:var(--color-body);
  border-radius: 10px;
}
.footer{
  position: absolute;
  text-align: center;
  /* background-color:var(--color-accent); */
  /* position: fixed; */
  bottom: -100px;
  width: 100%;
  height: 1.0rem;   /* Height of the footer */
  /* margin-bottom: 0px;
  padding-top: 100px; */
}
.footer-container{
  width: 100vw;
  /* height: 70vh; */
}
.footer-container > ul{
  list-style: none;
}
.row-container{
  display: flex;
  flex-direction: row;
  background-color:var(--color-secondary);
  justify-content: space-evenly;
}
.wrapper{
  position: relative;
  min-height: 100vh;
}
.copyright{
  color: black;
  padding-bottom: 10px;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 2px;
}
.like-btn{
  background-color: var(--color-body);
  padding-top: 2px;
 
}
.delete-btn{
  margin-right: 0px;
  padding-bottom: 3px;
  margin-left: 160px;
  background-color: var(--color-body);
}