body {
  margin: 0;
  font-family: sans-serif;
  background-color:var(--color-primary);
  color: #fff;
}
:root{
  --color-body:#fff;
  --color-primary: #f0f2f5;
  --color-secondary:#1a2429;
  --color-accent:#00b373;
  --color-footer:#2c3333;
} 

.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-height: 100vh;
  min-width: 12em;
  width: 20%;
  background: var(--color-secondary);
  padding: 1em;
  margin-right: 20px;
  box-shadow: 1px -1px 9px -3px rgba(0,0,0,0.75);
}

.sidebar > button {
  width: 100%;
}

.poems-container {
  max-width: 30em;
  margin: auto;
  background-color:var(--color-body);
  color: black;
  border-radius: 10px;
  box-shadow: 1px -1px 9px -3px rgba(0,0,0,0.75);

}

.poems-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.poems-container > div > button {
  min-width: 4em;
}

form.new-poem-form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.new-poem-form > input,
form.new-poem-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}
form.new-poem-form >select{
  margin-bottom: 10px;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: var(--color-accent);
  padding: 0.5em;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 1px -1px 9px -3px rgba(0,0,0,0.75);
}
.header{
  display: block;
  text-align: center;
  background:var(--color-secondary);
  margin: 5px;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 0;
}
.banner{
  height: 5vh;
  /* width: 100%; */
  margin: 5px;
  margin-bottom: 0;

  background-color: var(--color-accent);
}
.title{
  text-decoration: underline;
}
.btn{
  background-color: var(--color-accent);
  margin-bottom:10px;
  border: none;
  border-radius: 5px;
}

.new-poem-form{
  background-color:var(--color-body);
  border-radius: 10px;
}
.new-poem-form > input,select,textarea{
  box-shadow: 1px -1px 9px -3px rgba(0,0,0,0.75);
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
}
.footer{
  position: absolute;
  text-align: center;
  bottom: -100px;
  width: 100%;
  height: 1.0rem; 
}
.footer-container{
  width: 100vw;
}
.footer-container > ul{
  list-style: none;
}
.row-container{
  display: flex;
  flex-direction: row;
  background-color:var(--color-secondary);
  justify-content: space-evenly;
}
.wrapper{
  position: relative;
  min-height: 100vh;
}
.copyright{
  color: black;
  padding-bottom: 10px;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 2px;
}
.like-btn{
  background-color: var(--color-body);
}
.delete-btn{
  background-color: var(--color-body);
  margin-right: 10px;
}
.utilities{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.content-wrapper{
  margin: 10px;
}
a{
  text-decoration: none;
  color: var(--color-primary);
}
a:hover{
  color: #00b373;
}